<h2>Log In</h2>
<p>Welcome back</p>

{{#if errorMessage}}
  <p class="error-message">
    {{ errorMessage }}
  </p>
{{/if}}

<form action="/login" method="post">
  <div>
    <label for="username-input"> Username </label>
    <input type="username" name="username" id="username-input" placeholder="your username">
  </div>

  <div>
    <label for="password-input"> Password </label>
    <input type="password" name="password" id="password-input" placeholder="your secret code">
  </div>

    {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <button> Log In </button>
</form>

<p>
  Haven't joined yet?
  <a href="/signup">
  Don't hesitate any longer.
  </a>
</p>