{{!-- input information about succesfully logging in; 
in essence this should be the main menu --}}

<h2>Welcome {{user.name}} </h2> 

{{!-- can be changed to a nice image ^ --}}

<p>Thank you for joining our community</p>


<a href="/basics">Learn the basics</a>
<br>
<br>
<a href="/search-treatment">Search for Treatments</a>
<br>
<br>
<a href="/search-herbs">Herbs and Supplements</a>
<br>
<br>
<a href="/profile">My Profile</a>
<br>
<br>
<a href="/logout"> Log Out </a>