{{!-- input information about succesfully logging in; 
in essence this should be the main menu --}}

<h2>Welcome {{user.name}} </h2> 

{{!-- can be changed to a nice image ^ --}}

<p>Thank you for joining our community</p>


<a href="/basics">Learn the basics</a>
<br>
<br>
<a href="/techniques">Search for Treatments</a>
<br>
<br>
<a href="/herbs">Herbs and Supplements</a>
<br>
<br>
<a href="/profile/{{user._id}}">My Profile</a>
<br>
<br>
<p>Would you like to find a TCM specialist near you?</p>
<a href="/tcm-nearyou">Search Here</a>
<a href="/logout"> Log Out </a>