

    <section id="hero">
    <div class="hero-container">
            <h1>Until next time!</h1>
      <h2>Thank you for joining our community</h2>
      <a href="/" class="btn-get-started">Home</a>
      <a href="/login" class="btn-get-started">Login</a>
    
    </div>
  </section><!-- #hero -->

