<h1>Herbs</h1>
{{#each herbs}}
    <p><a href="herbs/{{this._id}}">{{this.name}}</a></p>
    <a href="/herbs/edit?herb_id={{this._id}}" class="edit-button">EDIT</a>
{{/each}}

<br>
<br>

<p>Don't see something that should be listed?</p>
<a href="/herbs/add">Add a New Herb</a>