<h2>Share your knowledge</h2>
<h3>Add a new herb</h3>

<form action="/herbs/add" method="post">
  <label for="">Name:</label>
  <input type="text" name="name">

  <label for="">Description:</label>
  <input type="text" name="description">

  <label for="image">Image</label>
  <input type="file" name="image" id="herbpic"> 

  <label for="">Symptoms:</label>
  <input type="text" name="symptoms">



  <button type="submit">ADD</button>
</form>