<h1 class="display-2">Herbs</h1>
{{#each herbs}}
<table class="table">
  <thead>
    <tr>
      <th scope="col"><h3><a href="herbs/{{this._id}}">{{this.name}}</a>  <a href="/herbs/edit?herb_id={{this._id}}" class="btn btn-info">EDIT</a> </h3></th>
      <th scope="col">   </th>
         </tr>
  </thead>
{{/each}}

<div class="add-herbs">
<p>Don't see something that should be listed?</p>
<a href="/herbs/add">Add a New Herb</a>
   <p><a href="/welcome">Dashboard</a></p>
   <p><a href="/logout">Logout</a></p>

</div>
