//Styling for Homepage

.intro-info{
  
}
body {
 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.edit-button {
  margin-left:20px; 
  color: #fff;
  text-decoration: none;
  padding: 2px 4px;
  background-color: grey;
  border-radius: 6px;
}

.review-item {
  border-bottom: 1px solid grey;
  margin: 10px 0;
  padding-bottom: 10px;
}

.review-item p {
  margin-bottom: 0;
}

.review-item span {
  font-size: 10px;
  color: grey;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 

 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}