<h2>Four Key TCM Principles</h2>

<ol>
  <li><b>Your body is an integrated whole.</b> Each and every structure in your body is an integral 
    and necessary part of the whole. Along with your mind, emotions, and spirit, 
    your physical body structures form a miraculously complex, interrelated system 
    that is powered by life force, or energy.  </li>
  <li><b>You are completely connected to nature.</b> Changes in nature are always reflected in your body. 
    TCM factors in the particular season, geographical location, time of day, as well as your age, 
    genetics, and the condition of your body when looking at your health issues.  </li> 
  <li><b>You were born with a natural self-healing ability.</b> Your body is a microcosm that reflects the macrocosm. 
    Think about it: nature has a regenerative capacity, and so do you. Sometimes, this ability may appear to be 
    lost or difficult to access. In most cases, it is never completely gone.  </li>
   <li><b>Prevention is the best cure.</b> Do you know your body is continually revealing signs about the state 
     of your health? Let’s face it, it’s common to ignore these signs or symptoms until something more 
     complicated arises. TCM teaches you how to interpret what your body is telling you.</li>
   

</ol>