<h1>Other Healing Techniques</h1>
{{#each others}}
    <p><a href="technique/{{this._id}}">{{this.title}}</a></p>
    <a href="/techniques/edit?other_id={{this._id}}" class="edit-button">EDIT</a>
{{/each}}